

.background {
    background-image: url('./back.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color:white
  }
  